@use "../util/" as u;

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: u.rem(36);

  @include u.breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;
    padding-bottom: u.rem(25);
    border-bottom: 1px solid var(--dark-text1);

    @include u.breakpoint(medium) {
      width: auto;
      padding-bottom: 0;
      border: none;
    }
  }

  &__subtitle {
    font-size: u.rem(14);
    font-weight: 700;
    color: var(--text-color2);
  }

  &__toggle {
    margin-top: u.rem(25);

    @include u.breakpoint(medium) {
      margin-top: 0;
    }
  }
}
