@use "../util/" as u;

.toggle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;

  @include u.breakpoint(medium) {
    width: auto;
  }

  label {
    font-size: u.rem(14);
    font-weight: 700;
    color: var(--toggle);

    &[for="dark"] {
      line-height: u.rem(24);
      margin-right: u.rem(13);
    }

    &[for="light"] {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    grid-column: 2 / 3;
    height: u.rem(24);
  }

  input[type="radio"] {
    opacity: 0;
    margin: 0 u.rem(-2) 0 u.rem(-2);
    width: u.rem(25);
    height: u.rem(24);
    z-index: 1;
    position: relative;

    &:focus ~ .toggle__button {
      border: u.rem(1) solid white;
    }
  }

  &__background {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: u.rem(12);
    overflow: hidden;
    background: var(--toggle-bg);
  }

  &__button {
    position: absolute;
    left: u.rem(3);
    top: u.rem(3);
    right: 100%;
    width: u.rem(18);
    height: u.rem(18);
    border-radius: 50%;
    background-color: var(--toggle-button);
    transition: all 0.2s ease-in-out;
  }

  #light:checked ~ .toggle__button {
    right: u.rem(3);
    left: calc(100% - u.rem(21));
  }

  #system:checked ~ .toggle__button {
    left: 50%;
    right: auto;
    transform: translate(-50%);
  }
}

.visually-hidden {
  display: none;
}
